@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-secondary text-text-primary font-sans;
  line-height: 1.6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply text-text-primary font-bold;
}

a {
  text-decoration: none;
  cursor: pointer;
}

button {
  @apply bg-primary text-white font-bold py-2 px-4 rounded-lg shadow-button;
  transition: background-color 0.3s;
}

button:hover {
  @apply bg-primary-dark;
}

/* Card styles */
.card {
  @apply bg-background-card p-6 rounded-lg shadow-card;
}

/* Sidebar Styles */
.sidebar {
  @apply bg-white text-black;
}

.sidebar-header {
  @apply flex items-center justify-between p-2 cursor-pointer transition-colors duration-300;
}

.sidebar-link {
  @apply flex items-center space-x-2 p-2 rounded-lg;
}

/* Selected and Hover Styles */
.selected {
  @apply bg-primary text-white;
}

.not-selected {
  @apply text-black hover:bg-gray-200;
}

/* Utility classes for spacing */
.mt-2 {
  margin-top: 0.5rem;
}

/* Transition styles for collapsible sections */
.collapsible {
  @apply overflow-hidden transition-all duration-300 ease-in-out;
}

.mt-4 {
  margin-top: 1rem;
}

.mt-8 {
  margin-top: 2rem;
}

/* Additional styling for the sidebar */
.sidebar-header {
  @apply flex items-center justify-between p-2 cursor-pointer;
}

.sidebar-link {
  @apply flex items-center space-x-2 p-2 rounded-lg;
}

/* Flex utilities */
.flex-center {
  @apply flex justify-center items-center;
}

.flex-column {
  @apply flex flex-col;
}

/* Custom scrollbar for a better look in sidebar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}
