@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-secondary text-text-primary font-sans;
  line-height: 1.6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply text-text-primary font-bold;
}

a {
  @apply text-primary hover:text-primary-dark;
  text-decoration: none;
  cursor: pointer;
}

button {
  @apply bg-primary text-white font-bold py-2 px-4 rounded-lg shadow-button;
  transition: background-color 0.3s;
}

button:hover {
  @apply bg-primary-dark;
}

/* Card styles */
.card {
  @apply bg-background-card p-6 rounded-lg shadow-card;
}

/* Utility classes for spacing */
.mt-2 {
  margin-top: 0.5rem;
}

.mt-4 {
  margin-top: 1rem;
}

.mt-8 {
  margin-top: 2rem;
}

/* Flex utilities */
.flex-center {
  @apply flex justify-center items-center;
}

.flex-column {
  @apply flex flex-col;
}

/* Custom scrollbar for a better look in sidebar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}
